[Desktop Entry]
Encoding=UTF-8
Name=ODBC
Comment=Kexi Open Database Connectivity Driver
Comment[da]=Kexi-drivere for åben databaseforbindelse
Comment[de]="Open Database Connectivity"-Treiber von Kexi
Comment[el]=Οδηγός σύνδεσης ανοιχτής βάσης δεδομένων Kexi
Comment[et]=Kexi ODBC draiver
Comment[gl]=Controlador ODBC de Kexi
Comment[hr]=Kexi upravljački program za otvoreno povezivanje baza podataka
Comment[it]=Driver per la connettività alle banche dati aperte di Kexi
Comment[ja]=Kexi ODBC (Open Database Connectivity) ドライバ
Comment[nl]=Kexi Open Database Connectivity-stuurprogramma
Comment[pt]=Controlador de ODBC do Kexi
Comment[pt_BR]=Controlador de ODBC do Kexi
Comment[sr]=Драјвер за Kexi за повезивање са ODB-ом
Comment[sv]=Kexi-drivrutin för öppen databasanslutning
X-KDE-Library=kexidb_odbcdriver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
MimeType=text/plain
X-Kexi-DriverType=Network
X-Kexi-DriverName=ODBC
