[Desktop Entry]
Encoding=UTF-8
Name=ODBC
Comment=Kexi Open Database Connectivity Driver
Comment[ar]=سائق الربط الشبكي لقاعدة البيانات المفتوحة Kexi
Comment[ca]=Controlador de connectivitat de base de dades oberta pel Kexi
Comment[da]=Kexi-drivere for åben databaseforbindelse
Comment[de]="Open Database Connectivity"-Treiber von Kexi
Comment[el]=Οδηγός σύνδεσης ανοιχτής βάσης δεδομένων Kexi
Comment[es]=Dispositivo ODBC (Open Database Connectivity) de Kexi
Comment[et]=Kexi ODBC draiver
Comment[gl]=Controlador ODBC de Kexi
Comment[hr]=Kexi upravljački program za otvoreno povezivanje baza podataka
Comment[it]=Driver per la connettività alle banche dati aperte di Kexi
Comment[ja]=Kexi ODBC (Open Database Connectivity) ドライバ
Comment[nds]=ODBC-Driever för Kexi
Comment[nl]=Kexi Open Database Connectivity-stuurprogramma
Comment[pt]=Controlador de ODBC do Kexi
Comment[pt_BR]=Driver aberto de conexão a banco de dados para Kexi
Comment[sr]=Драјвер за Kexi за повезивање са ODB-ом
Comment[sv]=Kexi-drivrutin för öppen databasanslutning
Comment[ta]=Kexi திறக்கும் தரவுத்தள இணைப்பு இயக்கி
Comment[tr]=Kexi Açık Veritabanı Bağlantı Sürücüsü
Comment[uk]=Драйвер Open Database Connectivity для Kexi
Comment[vi]=Trình điều khiển khả năng kết nối cơ sở dữ liệu mở Kexi
X-KDE-Library=kphotoalbum_kexidb_odbcdriver
ServiceTypes=KPAKexi/DBDriver
Type=Service
InitialPreference=8
MimeType=text/plain
X-Kexi-DriverType=Network
X-Kexi-DriverName=ODBC
