[Desktop Entry]
Encoding=UTF-8
Name=ODBC
Comment=Kexi Open Database Connectivity Driver
Comment[sr]=Драјвер за Kexi за повезивање са ODB-ом
X-KDE-Library=kexidb_odbcdriver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
MimeType=text/plain
X-Kexi-DriverType=Network
X-Kexi-DriverName=ODBC
