BasedOnStyle:  WebKit
Language:        Cpp
AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Linux
ColumnLimit: 0
CommentPragmas:  '^ (FALLTHROUGH|krazy:) '
Standard:        Cpp11
IndentWidth:     4
TabWidth:        4
UseTab:          Never
PointerAlignment: Left
SpacesInParentheses: true
SpacesInAngles:  false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 4
## jzarl: let's enable this as a second wave of reformatting - reordering headers can uncover hidden bugs
#IncludeBlocks: Regroup
#IncludeCategories:
## include order:
## 1. "config-kpa-xxx.h"
## 2. "MAIN_HEADER.h"
## 3. KPA-includes
## 4. other includes
#  - Regex:           '^"(DB|Utilities|ThumbnailView|AnnotationDialog|BackgroundJobs|BackgroundTaskManager|Browser|CategoryListView|DateBar|Exif|HTMLGenerator|ImageManager|ImportExport|MainWindow|MainWindow/DuplicateMerger|Plugins|Settings|Viewer|XMLDB)/'
#    Priority:        2
#  - Regex:           '^(</)'
#    Priority:        3
#  - Regex:           '^"config-kpa'
#    Priority:        -1
#  - Regex:           '^"'
#    Priority:        1
