# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
build/
cmake_install.cmake
CTestTestfile.cmake
cmake_uninstall.cmake
moc_*.cpp
CMakeFiles
Makefile
*.moc
*_automoc.cpp*
config-kpa-*
CMakeCache.txt
CMakeTmp
EnabledFeatures.txt
install_manifest.txt
kphotoalbum.shell
cscope.*
tags
*.orig
*~
CMakeLists.txt.user
AndroidRemoteControl/AndroidRemoteControl.pro.user
build-*
version.h
*.pyc
.directory
*.kdev4
