# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
include:
  - https://invent.kde.org/sysadmin/ci-utilities/raw/master/gitlab-templates/linux.yml
  - https://invent.kde.org/sysadmin/ci-utilities/raw/master/gitlab-templates/freebsd.yml

.template: &debian
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  interruptible: true
  before_script:
    - >-
      apt-get -qq update && apt-get install -y eatmydata && eatmydata apt-get install -y --no-install-recommends make cmake extra-cmake-modules gettext
      g++ gcc libkf5kio-dev pkg-config pkg-kde-tools libphonon4qt5-dev libkf5archive-dev libkf5doctools-dev
      libqt5sql5-sqlite libkf5textwidgets-dev libjpeg-dev libexiv2-dev libkf5purpose-dev libkf5kdcraw-dev
      libmarble-dev curl git libvlc-dev
  script:
    - mkdir build && cd $_ && cmake ../ && make -j$(nproc)
    - make install
    - ctest --rerun-failed --output-on-failure

build:debian-stable:
  stage: build
  image: "debian:stable"
  <<: *debian

build:debian-testing:
  stage: build
  image: "debian:testing"
  <<: *debian
