[Desktop Entry]
Encoding=UTF-8
Name=KimDaBa
Name[hi]=किमडाबा
Name[sv]=KimDaba
Name[xx]=xxKimDaBaxx
Exec=kimdaba --import %u
GenericName=Image Database
GenericName[cs]=Databáze obrázků
GenericName[da]=Billeddatabase
GenericName[el]=Βάση δεδομένων εικόνων
GenericName[es]=Base de datos de imágenes
GenericName[et]=Piltide andmebaas
GenericName[fr]=Base de données d'images
GenericName[hi]=चित्र डाटाबेस
GenericName[hu]=Képkezelő
GenericName[it]=Banca dati di immagini
GenericName[nl]=Afbeeldingendatabase
GenericName[pt]=Base de Dados de Imagens
GenericName[pt_BR]=Base de Dados de Imagens
GenericName[sr]=База слика
GenericName[sv]=Bilddatabas
GenericName[ta]=§¸
GenericName[tr]=Resim Veritabanı
GenericName[xx]=xxImage Databasexx
GenericName[zh_CN]=图像数据库
Terminal=0
Type=Application
X-KDE-StartupNotify=true
Icon=kimdaba
Categories=Qt;KDE;Graphics
NoDisplay=true
MimeType=application/vnd.kde.kimdaba-import 
