<!DOCTYPE kpartgui>
<kpartgui name="kimdaba">
  <MenuBar>
    <Menu name="file">
      <Action name="exportHTML"/>
    </Menu>
    <Menu name="edit" >
      <Action name="options" />
      <Action name="deleteSelected" />
      <Menu name="properties">
        <text>P&amp;roperties</text>
        <Action name="oneProp"/>
        <Action name="allProp"/>
      </Menu>
    </Menu>
    <Menu name="Images" >
      <text>&amp;Images</text>
      <Action name="viewImages" />
      <Action name="viewImagesNewWindow" />
      <Action name="limitToMarked" />
    </Menu>
   <Menu name="help">
     <Action name="showToolTipOnImages"/>
   </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar">
    <text>Main Toolbar</text>
    <Action name="go_back"/>
    <Action name="go_forward"/>
  </ToolBar>

</kpartgui>
