[Desktop Entry]
Encoding=UTF-8
Name=KimDaBa
Exec=kimdaba
GenericName=Image Database
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kimdaba
Categories=Qt;KDE;Graphics;
