<!DOCTYPE kpartgui>
<kpartgui name="kimdaba" version="6">
  <MenuBar>
    <Menu name="file">
      <Action name="exportHTML"/>
    </Menu>
    <Menu name="edit" >
      <Action name="deleteSelected" />
      <Menu name="properties">
        <text>P&amp;roperties</text>
        <Action name="oneProp"/>
        <Action name="allProp"/>
      </Menu>
    </Menu>
    <Menu name="Images" >
      <text>&amp;Images</text>
      <Action name="viewImages" />
      <Action name="viewImagesNewWindow" />
      <Action name="sortImages" />
      <Action name="limitToMarked" />
      <Menu name="privacy">
        <text>Privacy</text>
        <Action name="lockToDefaultScope"/>
        <Action name="unlockFromDefaultScope"/>
        <Action name="changeScopePasswd" />
        <separator/>
        <Action name="setDefaultScopePositive" />
        <Action name="setDefaultScopeNegative" />
      </Menu>
    </Menu>
   <Menu name="maintenance">
      <text>&amp;Maintenance</text>
      <Action name="findUnavailableImages"/>
      <Action name="rebuildMD5s"/>
      <Action name="rescan"/>
      <Action name="readTime"/>
      <Separator/>
      <Action name="removeAllThumbs"/>
      <Action name="buildThumbs"/>
   </Menu>
   <Menu name="help">
     <Action name="showToolTipOnImages"/>
     <Action name="runDemo"/>
     <Action name="donate"/>
   </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar">
    <text>Main Toolbar</text>
    <Action name="go_back"/>
    <Action name="go_forward"/>
    <Action name="configureView"/>
  </ToolBar>

</kpartgui>
