[Desktop Entry]
Encoding=UTF-8
Name=KimDaBa
Name[hi]=किमडाबा
Name[sv]=KimDaba
Name[ta]=கிம்டாபா
Exec=kimdaba
GenericName=Image Database
GenericName[br]=Stlennvon ar skeudennoù
GenericName[bs]=Baza slika
GenericName[ca]=Base de dades d'imatges
GenericName[cs]=Databáze obrázků
GenericName[da]=Billeddatabase
GenericName[el]=Βάση δεδομένων εικόνων
GenericName[es]=Base de datos de imágenes
GenericName[et]=Piltide andmebaas
GenericName[fr]=Base de données d'images
GenericName[hi]=चित्र डाटाबेस
GenericName[hu]=Képkezelő
GenericName[it]=Banca dati di immagini
GenericName[nl]=Afbeeldingendatabase
GenericName[pt]=Base de Dados de Imagens
GenericName[pt_BR]=Base de Dados de Imagens
GenericName[ru]=База данных изображений
GenericName[sl]=Slikovna zbirka
GenericName[sr]=База слика
GenericName[sr@Latn]=Baza slika
GenericName[sv]=Bilddatabas
GenericName[ta]=படிமம் தகவல் தளம்
GenericName[tr]=Resim Veritabanı
GenericName[zh_CN]=图像数据库
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kimdaba
Categories=Qt;KDE;Graphics;
