<!DOCTYPE kpartgui>
<kpartgui name="kimdaba" version="24">
  <MenuBar>
    <Menu name="file">
      <Action name="exportHTML"/>
      <Action name="import"/>
      <Action name="export"/>
    </Menu>
    <Menu name="edit" >
      <Action name="deleteSelected" />
      <Action name="removeTokens" />
      <Menu name="properties">
        <text>P&amp;roperties</text>
        <Action name="oneProp"/>
        <Action name="allProp"/>
      </Menu>
    </Menu>
    <Menu name="Images" >
      <text>&amp;Images</text>
      <Action name="viewImages" />
      <Action name="viewImagesNewWindow" />
      <Action name="runSlideShow"/>
      <Action name="runRandomizedSlideShow"/>
      <Separator/>
      <Action name="jumpToContext"/>
      <Action name="limitToMarked" />
      <Separator/>
      <Action name="sortImages" />
      <Menu name="privacy">
        <text>Privacy</text>
        <Action name="lockToDefaultScope"/>
        <Action name="unlockFromDefaultScope"/>
        <Action name="changeScopePasswd" />
        <separator/>
        <Action name="setDefaultScopeNegative" />
        <Action name="setDefaultScopePositive" />
      </Menu>
    </Menu>
    <Menu name="maintenance">
      <text>&amp;Maintenance</text>
      <Action name="findUnavailableImages"/>
      <Action name="findImagesWithInvalidDate"/>
      <Action name="rebuildMD5s"/>
      <Action name="rescan"/>
      <Action name="readInfo" />
      <Separator/>
      <Action name="removeAllThumbs"/>
      <Action name="buildThumbs"/>
    </Menu>
    <Menu name="plugins">
      <text>Plugins</text>
      <Menu name="exportplugin">       
        <text>Export</text>
        <ActionList name="export_actions"/>
      </Menu>
      <Menu name="importplugin">       
        <text>Import</text>
        <ActionList name="import_actions"/>
      </Menu>
      <Menu name="imagesplugins">
      <text>Images</text>
         <ActionList name="image_actions"/>  
      </Menu>
      <Menu name="batch_plugins">
        <text>Batch Plugins</text>
        <ActionList name="batch_actions"/>
      </Menu>
      <Menu name="tool_plugins">
        <text>Tools</text>
        <ActionList name="tool_actions"/>
      </Menu>
   </Menu>
   <Menu name="settings">
     <Action name="readdAllMessages"/>
     <Action name="showToolTipOnImages"/>
   </Menu>
   <Menu name="help">
     <Action name="runDemo"/>
     <Action name="runSurvey"/>
     <Action name="donate"/>
   </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar">
    <text>Main Toolbar</text>
    <Action name="go_back"/>
    <Action name="go_forward"/>
    <Action name="runSlideShow"/>
    <Action name="configureView"/>
  </ToolBar>


</kpartgui>
