[Desktop Entry]
Encoding=UTF-8
Name=KimDaBa
Exec=kimdaba --import %u
GenericName=Image Database
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kimdaba
Categories=Qt;KDE;Graphics;
NoDisplay=true
MimeType=application/vnd.kde.kimdaba-import 
