[Desktop Entry]
Encoding=UTF-8
Name=KimDaBa
Name[sv]=KimDaba
Exec=kimdaba
GenericName=Image Database
GenericName[ca]=Base de dades d'imatges K
GenericName[da]=K's Billeddatabase
GenericName[de]=K-Image-Datenbank
GenericName[es]=Base de datos de KDE
GenericName[et]=KDE piltide andmebaas
GenericName[fi]=KDE:n kuvatietokanta
GenericName[it]=Banca dati di immagini K
GenericName[pt]=Base de Dados de Imagens
GenericName[pt_BR]=Base de Dados de Imagens do KDE
GenericName[sv]=K-bilddatabas
Terminal=0
Type=Application
X-KDE-StartupNotify=true
Icon=kimdaba
Categories=Qt;KDE;Graphics
