<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: none

     SPDX-License-Identifier: CC0-1.0
-->
<gui name="kphotoalbum"
     version="56"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="file">
      <Action name="exportHTML"/>
      <Action name="import"/>
      <Action name="export"/>
    </Menu>
    <Menu name="edit">
      <Action name="edit_copy"/>
      <Action name="edit_paste"/>
      <Action name="edit_select_all"/>
      <Action name="edit_deselect"/>
      <Separator/>
      <Action name="deleteSelected"/>
      <Action name="removeTokens"/>
      <Action name="showListOfFiles"/>
      <Separator/>
      <Action name="rotateLeft"/>
      <Action name="rotateRight"/>
      <Separator/>
      <Action name="oneProp"/>
      <Action name="allProp"/>
      <Action name="createImageStack"/>
      <Action name="unStackImages"/>
      <Action name="setStackHead"/>
    </Menu>
    <Menu name="view">
      <text>&amp;View</text>
      <Action name="viewImages"/>
      <Action name="viewImagesNewWindow"/>
      <Action name="runSlideShow"/>
      <Action name="runRandomizedSlideShow"/>
      <Action name="collapseAllStacks"/>
      <Action name="expandAllStacks"/>
      <Separator/>
      <Action name="jumpToContext"/>
      <Action name="limitToMarked"/>
      <Separator/>
      <Action name="sortImages"/>
      <Action name="orderIncr"/>
      <Action name="orderDecr"/>
      <Menu name="privacy">
        <text>Privacy</text>
        <Action name="lockToDefaultScope"/>
        <Action name="unlockFromDefaultScope"/>
        <Separator/>
        <Action name="setDefaultScopeNegative"/>
        <Action name="setDefaultScopePositive"/>
      </Menu>
      <Separator/>
      <Action name="showToolTipOnImages"/>
      <Action name="showLabelBelowThumbnail"/>
      <Action name="showCategoryBelowThumbnail"/>
      <Action name="configureView"/>
      <Action name="colorScheme"/>
    </Menu>
    <Menu name="maintenance">
      <text>&amp;Maintenance</text>
      <Action name="findUnavailableImages"/>
      <Action name="findImagesWithInvalidDate"/>
      <Action name="findImagesWithChangedMD5Sum"/>
      <Action name="mergeDuplicates"/>
      <Separator/>
      <Action name="rebuildMD5s"/>
      <Action name="rescan"/>
      <Action name="recreateExifDB"/>
      <Action name="reReadExifInfo"/>
      <Action name="sortAllImages"/>
      <Action name="autoStack"/>
      <Separator/>
      <Action name="removeAllThumbs"/>
      <Action name="buildThumbs"/>
      <Action name="optimizeThumbs"/>
      <Separator/>
      <Action name="markUntagged"/>
      <Separator/>
      <Action name="statistics"/>
    </Menu>
    <Menu name="plugins">
      <text>Plugins</text>
    </Menu>
    <Menu name="settings">
      <Action name="readdAllMessages"/>
    </Menu>
    <Menu name="help">
      <Action name="runDemo"/>
      <Action name="features"/>
      <Action name="showVideo"/>
    </Menu>
  </MenuBar>
  <ToolBar noMerge="1" name="mainToolBar">
    <text>Main Toolbar</text>
    <Action name="file_save"/>
    <Action name="go_home"/>
    <Action name="go_back"/>
    <Action name="go_forward"/>
    <Action name="view_redisplay"/>
    <Action name="runSlideShow"/>
  </ToolBar>
</gui>
