[Desktop Entry]
Encoding=UTF-8
Name=KPhotoAlbum
Exec=kphotoalbum
GenericName=Photo Album
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
