[Desktop Entry]
Encoding=UTF-8
Name=KPhotoAlbum
Name[sv]=Kfotoalbum
Name[xx]=xxKPhotoAlbumxx
Exec=kphotoalbum --import %u
GenericName=Photo Album
GenericName[br]=Albom foto
GenericName[da]=Fotoalbum
GenericName[el]=Φωτογραφικό άλμπουμ
GenericName[es]=Album de fotos
GenericName[et]=Fotoalbum
GenericName[ga]=Albam Grianghraf
GenericName[it]=Album fotografico
GenericName[nl]=Fotoalbum
GenericName[pt]=Álbum de Fotografias
GenericName[sv]=Fotoalbum
GenericName[tr]=Fotoğraf Albümü
GenericName[xx]=xxPhoto Albumxx
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
NoDisplay=true
MimeType=application/vnd.kde.kphotoalbum-import
