[Desktop Entry]
Name=KPhotoAlbum
Name[x-test]=xxKPhotoAlbumxx
Exec=kphotoalbum
GenericName=Photo Album
GenericName[x-test]=xxPhoto Albumxx
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;Photography;
