[Desktop Entry]
Encoding=UTF-8
Name=KPhotoAlbum
Exec=kphotoalbum --import %u
GenericName=Photo Album
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
NoDisplay=true
MimeType=application/vnd.kde.kphotoalbum-import
