[Desktop Entry]
Name=KPhotoAlbum
Name[be]=KPhotoAlbum
Name[bg]=KPhotoAlbum
Name[ca]=KPhotoAlbum
Name[cs]=KPhotoAlbum
Name[da]=KPhotoAlbum
Name[de]=KPhotoAlbum
Name[el]=KPhotoAlbum
Name[en_GB]=KPhotoAlbum
Name[es]=KPhotoAlbum
Name[et]=KPhotoAlbum
Name[fr]=KPhotoAlbum
Name[ga]=KPhotoAlbum
Name[gl]=KPhotoAlbum
Name[he]=KPhotoAlbum
Name[hi]=केफोटोएलबम
Name[hne]=केफोटोएलबम
Name[is]=KPhotoAlbum
Name[it]=KPhotoAlbum
Name[ja]=KPhotoAlbum
Name[km]=KPhotoAlbum
Name[ku]=KPhotoAlbum
Name[lv]=KPhotoAlbum
Name[ml]=കെഫോട്ടോആല്‍ബം
Name[nb]=KPhotoAlbum
Name[nds]=KPhotoAlbum
Name[nl]=KPhotoAlbum
Name[pa]=ਕੇ-ਫੋਟੋ-ਐਲਬਮ
Name[pl]=KPhotoAlbum
Name[pt]=KPhotoAlbum
Name[pt_BR]=KPhotoAlbum
Name[ro]=KAlbumFoto
Name[sk]=KPhotoAlbum
Name[sv]=Kfotoalbum
Name[tr]=KPhotoAlbum
Name[uk]=KPhotoAlbum
Name[vi]=KPhotoAlbum
Name[x-test]=xxKPhotoAlbumxx
Name[zh_CN]=KPhotoAlbum
Name[zh_TW]=KPhotoAlbum
Exec=kphotoalbum --import %u
GenericName=Photo Album
GenericName[be]=Фотаальбом
GenericName[bg]=KPhotoAlbum
GenericName[ca]=Àlbum de fotos
GenericName[cs]=Foto album
GenericName[da]=Fotoalbum
GenericName[de]=Fotoalbum
GenericName[el]=Φωτογραφικό άλμπουμ
GenericName[en_GB]=Photo Album
GenericName[es]=Álbum de fotos
GenericName[et]=Fotoalbum
GenericName[fr]=Album Photos
GenericName[ga]=Albam Grianghraf
GenericName[gl]=Álbum de fotos
GenericName[he]=אלבום תמונות
GenericName[hi]=फोटो एलबम
GenericName[hne]=फोटो एलबम
GenericName[is]=Myndaalbúm
GenericName[it]=Album fotografico
GenericName[ja]=フォトアルバム
GenericName[km]=អាល់ប៊ុម​រូបថត
GenericName[ku]=Albûma Wêneyan
GenericName[lv]=Foto albums
GenericName[ml]=ഫോട്ടോ ആല്‍ബം
GenericName[nb]=Fotoalbum
GenericName[nds]=Fotoalbum
GenericName[nl]=Fotoalbum
GenericName[pa]=ਫੋਟੋ ਐਲਬਮ
GenericName[pl]=Album na zdjęcia
GenericName[pt]=Álbum de Fotografias
GenericName[pt_BR]=Álbum de fotografias
GenericName[ro]=Album foto
GenericName[sk]=Album fotiek
GenericName[sv]=Fotoalbum
GenericName[tr]=Fotoğraf Albümü
GenericName[uk]=Фотоальбом
GenericName[vi]=Tập ảnh chụp
GenericName[x-test]=xxPhoto Albumxx
GenericName[zh_CN]=相册
GenericName[zh_TW]=相簿
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
NoDisplay=true
MimeType=application/vnd.kde.kphotoalbum-import;
