[Desktop Entry]
Encoding=UTF-8
Name=KPhotoAlbum
Exec=kphotoalbum
GenericName=Photo Album
GenericName[el]=Φωτογραφικό άλμπουμ
GenericName[ga]=Albam Grianghraf
GenericName[it]=Album fotografico
GenericName[pt]=Álbum de Fotografias
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
