[Desktop Entry]
Encoding=UTF-8
Comment=KPhotoAlbum import
Comment[br]=Enporzh KPhotoAlbum
Comment[el]=Εισαγωγή KPhotoAlbum
Comment[es]=Importar KPhotoAlbum
Comment[et]=KPhotoAlbumi import
Comment[ga]=Iompórtáil KPhotoAlbum
Comment[it]=Importazione di KPhotoAlbum
Comment[ja]=KPhotoAlbum インポート
Comment[ka]=KPhotoAlbum იმპორტი
Comment[pa]=ਕੇ-ਫੋਟੋਐਲਬਮ ਆਯਾਤ
Comment[pt]=Importação do KPhotoAlbum
Comment[pt_BR]=Importa do KPhotoAlbum
Comment[sv]=Kfotoalbum import
Comment[xx]=xxKPhotoAlbum importxx
Icon=kphotoalbum
Type=MimeType
MimeType=application/vnd.kde.kphotoalbum-import
Patterns=*.kim
