[Desktop Entry]
Encoding=UTF-8
Comment=KPhotoAlbum import
Comment[bg]=Внасяне в KPhotoAlbum
Comment[br]=Enporzh KPhotoAlbum
Comment[de]=KPhotoAlbum Import
Comment[el]=Εισαγωγή KPhotoAlbum
Comment[es]=Importación a KPhotoAlbum
Comment[fr]=Import KPhotoAlbum
Comment[ga]=Iompórtáil KPhotoAlbum
Comment[hi]=किम-दा-बा आयात
Comment[it]=Importazione KPhotoAlbum
Comment[nl]=KPhotoAlbum-import
Comment[pa]=KPhotoAlbum ਆਯਾਤ
Comment[pt]=Importação do KPhotoAlbum
Comment[pt_BR]=Importação do KPhotoAlbum
Comment[ru]=Импорт KPhotoAlbum
Comment[sr]=Увоз у KPhotoAlbum-у
Comment[sr@Latn]=Uvoz u KPhotoAlbum-u
Comment[sv]=KPhotoAlbum-import
Comment[ta]=கிம்டாபா உள்வாங்கல்
Comment[tg]=Воридоти Ким-Да-Ба
Comment[tr]=KPhotoAlbum dosya alma
Comment[xx]=xxKPhotoAlbum importxx
Icon=kphotoalbum
Type=MimeType
MimeType=application/vnd.kde.kphotoalbum-import
Patterns=*.kim
