[Desktop Entry]
Encoding=UTF-8
Comment=KimDaBa import
Comment[bg]=Внасяне в KimDaBa
Comment[br]=Enporzh KimDaBa
Comment[de]=KimDaBa Import
Comment[el]=Εισαγωγή KimDaBa
Comment[es]=Importación a KimDaBa
Comment[fr]=Import KimDaBa
Comment[ga]=Iompórtáil KimDaBa
Comment[hi]=किम-दा-बा आयात
Comment[it]=Importazione KimDaBa
Comment[nl]=KimDaBa-import
Comment[pa]=KimDaBa ਆਯਾਤ
Comment[pt]=Importação do KimDaBa
Comment[pt_BR]=Importação do KimDaBa
Comment[ru]=Импорт KimDaBa
Comment[sr]=Увоз у KimDaBa-у
Comment[sr@Latn]=Uvoz u KimDaBa-u
Comment[sv]=KimDaBa-import
Comment[ta]=கிம்டாபா உள்வாங்கல்
Comment[tg]=Воридоти Ким-Да-Ба
Comment[tr]=KimDaBa dosya alma
Comment[xx]=xxKimDaBa importxx
Icon=kimdaba
Type=MimeType
MimeType=application/vnd.kde.kimdaba-import
Patterns=*.kim
