[Desktop Entry]
Encoding=UTF-8
Comment=KPhotoAlbum import
Comment[el]=Εισαγωγή KPhotoAlbum
Comment[ga]=Iompórtáil KPhotoAlbum
Comment[it]=Importazione di KPhotoAlbum
Comment[pt]=Importação do KPhotoAlbum
Comment[sv]=Kfotoalbum import
Icon=kphotoalbum
Type=MimeType
MimeType=application/vnd.kde.kphotoalbum-import
Patterns=*.kim
