[Desktop Entry]
Encoding=UTF-8
Name=SQLite2
Comment=SQLite is default Kexi embedded SQL engine
Comment[sr]=SQLite је подразумевани SQL мотор за Kexi
X-KDE-Library=kphotoalbum_kexidb_sqlite2driver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=SQLite2
X-Kexi-DriverType=File
X-Kexi-FileDBDriverMimeList=application/x-sqlite2,application/x-kexiproject-sqlite2,application/x-kexiproject-sqlite,application/x-hk_classes-sqlite2
X-Kexi-KexiDBVersion=1.7
