[Desktop Entry]
Encoding=UTF-8
Name=SQLite2
Comment=SQLite is default Kexi embedded SQL engine
Comment[da]=Sqlite er indbygget SQL-standarddatabase i Kexi
Comment[de]=SQLite ist das in Kexi integrierte und voreingestellte Datenbanksystem
Comment[el]=Η SQLite είναι η προκαθορισμένη μηχανή SQL του Kexi
Comment[et]=SQLite on Kexi vaikimisi põimitud SQL-mootor
Comment[gl]=SQLite é o motor SQL incorporado por omisión en Kexi
Comment[hr]=SQLite je zadani Kexi ugrađeni pogon za SQL
Comment[is]=SQLite er sjálfgefin ígrædd SQL-vél í Kexi
Comment[it]=SQLite è il motore SQL predefinito incorporato in Kexi
Comment[ja]=SQLite は Kexi の標準埋め込み SQL エンジンです。
Comment[nl]=SQLite is de standaard SQL-database voor Kexi
Comment[pt]=SQLite é o motor embebido de SQL do Kexi
Comment[pt_BR]=SQLite é o motor SQL embarcado padrão do Kexi
Comment[sr]=SQLite је подразумевани SQL мотор за Kexi
Comment[sv]=Sqlite är inbyggd SQL-standarddatabas i Kexi
Comment[ta]=SQLite என்பது ஒரு முன்னிருப்பு Kexi உட்பொதிக்கப்பட்ட SQL என்ஜின்
Comment[tr]=SQLite, Kexi için öntanımlı gömülü SQL motorudur
X-KDE-Library=kphotoalbum_kexidb_sqlite2driver
ServiceTypes=KPAKexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=SQLite2
X-Kexi-DriverType=File
X-Kexi-FileDBDriverMimeList=application/x-sqlite2,application/x-kexiproject-sqlite2,application/x-kexiproject-sqlite,application/x-hk_classes-sqlite2
X-Kexi-KexiDBVersion=1.7
