[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KPAKexi/DBDriver
Comment=Kexi SQL-Driver plugin
Comment[br]=Lugent SQL-Driver evit Kexi
Comment[da]=Kexi SQL-plugindrivere
Comment[de]=Kexi SQL-Treibermodul
Comment[el]=Πρόσθετο Kexi οδηγού SQL
Comment[et]=Kexi SQL-draiveri plugin
Comment[gl]=Extensión de Controlador SQL para Kexi
Comment[hr]=Kexi dodatak za SQL upravljački program
Comment[it]=Estensione al driver SQL di Kexi
Comment[ja]=Kexi SQL ドライバ プラグイン
Comment[nl]=Kexi SQL-stuurprogramma-plugin
Comment[pt]='Plugin' do Controlador de SQL do Kexi
Comment[pt_BR]='Plugin' do Controlador de SQL do Kexi
Comment[sr]=Прикључак SQL драјвера за Kexi
Comment[sv]=Kexi SQL-insticksdrivrutin

[PropertyDef::X-Kexi-FileDBDriverMime]
Type=QString

[PropertyDef::X-Kexi-FileDBDriverMimeList]
Type=QStringList

[PropertyDef::X-Kexi-DriverName]
Type=QString

[PropertyDef::X-Kexi-DriverType]
Type=QString

[PropertyDef::X-Kexi-KexiDBVersion]
Type=QString
