[Desktop Entry]
Encoding=UTF-8
Name=MySQL
Comment=MySQL Migration Driver for Kexi
Comment[ar]=سائق النزوح MySQL لِــ Kexi
Comment[ca]=Controlador de migració de MySQL pel Kexi
Comment[da]=MySQL-overførselsdrivere for Kexi
Comment[de]=MySQL Migrationstreiber für Kexi
Comment[el]=Οδηγός μεταφοράς MySQL του Kexi
Comment[es]=Dispositivo de MySQL para Kexi para la migración
Comment[et]=Kexi MySQL migreerimise draiver
Comment[gl]=Controlador de Migrazón de MySQL para Kexi
Comment[hr]=MySQL-ov upravljački program migracije podataka za Kexi
Comment[is]=MySQL milliflutningsrekill fyrir Kexi
Comment[it]=Driver di migrazione MySQL di Kexi
Comment[ja]=Kexi MySQL データ移行ドライバ
Comment[nds]=MySQL-Datenutlagerndriever för Kexi
Comment[nl]=MySQL-migratiestuurprogramma voor Kexi
Comment[pt]=Controlador de Migração de MySQL para o Kexi
Comment[pt_BR]=Driver para migração para MySQL do Kexi
Comment[sv]=MySQL-övergångsdrivrutin för Kexi
Comment[tr]=Kexi için MySQL Aktarma Sürücüsü
Comment[uk]=Драйвер міграції даних MySQL для Kexi
Comment[vi]=Bổ sung nâng cấp MySQL cho Kexi
X-KDE-Library=keximigrate_mysql
ServiceTypes=Kexi/MigrationDriver
Type=Service
InitialPreference=8
X-Kexi-MigrationDriverName=MySQL
X-Kexi-MigrationDriverType=Network
X-Kexi-KexiMigrationVersion=1.1
