/*
 * SPDX-FileCopyrightText: 2009-2012 Miika Turkia <miika.turkia@gmail.com>
 *
 * SPDX-License-Identifier: LicenseRef-KDE-Accepted-LGPL
 */

#opa {
	filter: alpha(opacity = 70);
	z-index: 55;
	height: expression(document.body.clientHeight + "px");
	width: expression(document.body.clientWidth + "px");
}

#pad {
	width: 100%;
	height: 100%;
	z-index: 100;
}

#loadarea {
	z-index: 100;
	padding: 0px;
}

div.thumb-div {
	padding: 0px;
}

.resolutions {
	left: 0em;
}

div.thumb-div-selected {
	padding: 0px;
}

#fullVideo {
	display: none;
	z-index: 80;
	text-decoration: none;
	background: none;
	position: relative;
	color: black;
}

#fsImg {
	padding: 0px;
	margin: 0px;
}
#thumbnails {
	z-index: 20;
	padding: 0px;
	margin: 0px;
}

div.navi {
	z-index: 110;
}

#slide {
	z-index: 50;
}
