/*
 * SPDX-FileCopyrightText: 2009-2012 Miika Turkia <miika.turkia@gmail.com>
 *
 * SPDX-License-Identifier: LicenseRef-KDE-Accepted-LGPL
 */

* {
	margin: 0em;
}

html {
	height: 100%;
}

img {
	border: none;
}

body {
 	font: 100% Arial, Tholoth, Rekha, sans-serif, Helvetica;
	color: white;
	background: black;
}

h1 { text-align: center }

#fullImg {
	text-decoration: none;
	background: none;
	position: relative;
	color: black;
}

#fullVideo {
	z-index: 80;
	text-decoration: none;
	background: none;
	position: relative;
	color: black;
}

#opa {
	z-index: 60;
	position: absolute;
	display: none;
	background: black;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: .7;
}

#pad {
	display: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

#fullarea {
	z-index: 80;
	position: relative;
	display: none;
	background: #101010;
	top: 1em;
	border: 3pt #CCC solid;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#fullarea ul {
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: left;
	list-style: none;
}

a.thumbA {
	text-decoration: none;
	background: none;
	color: #202020;
	margin: 0px;
}

div {
	padding: .5em;
}

h1.title {
        background-color: #202020;
        left: auto;
        right: 0em;
}

div.description {
	background-color: #202020;
	margin-left: .5em;
	margin-right: .5em;
	left: auto;
	right: 0em;
}

div.keywords {
	margin-left: .5em;
	margin-right: .5em;
	left: auto;
	right: 0em;
	text-align: left;
}

div.videoInfo {
	min-height: 2em;
	text-align: center;
	background-color: #222;
	border: 1pt #FFFFD2 solid;
	color: #999;
	padding: 0ex;
	z-index: 200;
}
div.videoInfo p {
	margin: 1ex;
}

#imagearea {
	z-index: 40;
}

#thumbnails {
	z-index: 50;
	position: absolute;
	overflow: auto;
}

#loadarea {
	z-index: 55;
	overflow: hidden;
	text-align: center;
}

#slide {
	z-index: 90;
	position: absolute;
	top: .8ex;
	right: auto;
	left: .5em;
}

div.help {
	position: absolute;
	text-align: right;
	font-size: 90%;
	font-family: Courier, Arial, sans-serif;
	right: .5em;
	top: .8ex;
	left: auto;
	background: none;
}

div.X {
	z-index: 100;
	position: absolute;
	right: -3.9ex;
	top: -2.5ex;
	left: auto;
}

div.navi {
	z-index: 95;
	position: absolute;
	display: none;
	top: 1.0ex;
}

img.arrow-left {
	padding-right: 1pt;
}

img.arrow-right {
	padding-left: 1pt;
}

#videoFB {
	display: none;
}

.dl {
	z-index: 100;
	position: absolute;
	right: -4.0ex;
	bottom: -2.2ex;
	left: auto;
	display: none;
}

#fullImgD {
	z-index: 100;
	margin-top: .5ex;
	width: 100%;
}

div.help:hover {
	font-weight: bold;
}

div.help span {
	display: none;
}

div.help:hover span {
	z-index: 100;
	display: block;
	width: 10em;
	text-align: left;
	background-color: #202020;
	padding: 5px;
}

div.slide span {
	display: none;
}

div.navigator {
	font-size: 80%;
	font-weight: bold;
	line-height: 1.1;
	text-align: left;
	position: absolute;
	font-family: Courier, Arial, sans-serif;
	top: 3ex;
	left: 2em;
	right: auto;
	background: none;
	border: 1pt #CCC solid;
	padding: 2pt;
}
body>div.navigator { position: fixed }

div.navigator a { margin: 2px }
div.navigator a:link { text-decoration: none; background: none; color: #CCC }
div.navigator a:visited { text-decoration: none; background: none; color: #999 }
div.navigator a:hover { background: none; color: white }

div.slideSpeed {
	z-index: 100;
	font-weight: normal;
	text-align: center;
	position: absolute;
	top: 1em;
	left: 1em;
	width: 3em;
	right: auto;
	background: #000;
	border: 2pt #CCC solid;
	padding: 1pt;
	display: none;
}
body>div.slideSpeed { position: fixed }
div.slideSpeed {
 	font: 100% Arial, Tholoth, Rekha, sans-serif, Helvetica;
	font-weight: bold;
}

div.slideSpeed a:link { text-decoration: none; background: none; color: #CCC }
div.slideSpeed a:visited { text-decoration: none; background: none; color: #CCC }
div.slideSpeed a:hover { text-decoration: none; background: none; color: #CCC }

div.viewpic {
	margin: 0;
	width: 100%;
	left: 0px;
	right: 0px;
	text-align: center;
}

table.thumbnail-table {
        width: 100%;
        text-align: center;
}

div.thumb-div {
 	background-color: #202020;
	margin: 1px;
	float: left;
	width: 132px;
	height: 132px;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

div.thumb-div-selected {
 	background-color: #404040;
	margin: 1px;
	float: left;
	width: 132px;
	height: 132px;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

table.controlinfo,td.navbar {
        width: 100%;
        background-color: #202020;
        border: 1px solid black;
        margin-left: 0em;
        left: auto;
        right: 0em;
}

.footer {
	vertical-align: bottom;
	position: relative;
}

.resolutions {
	background-color: #202020;
	position: absolute;
	z-index: 50;
	left: .5em;
	right: auto;
	width: 60%;
}

.home {
	background-color: #202020;
	position: absolute;
	z-index: 50;
	left: .5em;
	right: auto;
	width: 60%;
}
div.home a:link { background: none; color: #CCC }
div.home a:visited { background: none; color: #999 }
div.home a:hover { background: none; color: white }

.copyright {
	background-color: #202020;
	right: .5em;
	left: auto;
	width: 50%;
	text-align: right;
	position: absolute;
	z-index: 40;
}

div.copyright span {
        display: none;
        background-color: #202020;
        position: absolute;
        right: .5em;
        text-align: right;
        z-index: 50;
        top: 0em;
}

div.copyright:hover span {
        display: block;
        padding-top: .5em;
}
