[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kexi/MigrationDriver
Comment=Kexi Data Migration Driver
Comment[da]=Kexi dataoverførselsdrivere
Comment[de]=Kexi Datenmigrationtreiber
Comment[el]=Οδηγός μεταφοράς δεδομένων του Kexi
Comment[et]=Kexi andmete migreerimise draiver
Comment[gl]=Extensión de Migrazón de Dados para Kexi
Comment[hr]=Kexi upravljački program za migraciju podataka
Comment[is]=Kexi gagnaflutningsrekill
Comment[it]=Driver di migrazione dei dati di Kexi
Comment[ja]=Kexi データ移行ドライバ
Comment[nl]=Kexi Datamigratie Stuurprogramma
Comment[pt]=Controlador de Migração de Dados do Kexi
Comment[pt_BR]=Driver para migração de dados do Kexi
Comment[sv]=Kexi dataövergångsdrivrutin
Comment[tr]=Kexi Veri Aktarma Sürücüsü

[PropertyDef::X-Kexi-FileMigrationDriverMime]
Type=QString

[PropertyDef::X-Kexi-MigrationDriverName]
Type=QString

[PropertyDef::X-Kexi-MigrationDriverType]
Type=QString

[PropertyDef::X-Kexi-KexiMigrationVersion]
Type=QString
