[Desktop Entry]
Encoding=UTF-8
Hidden=true
Name=SQLite
Comment=SQLite is default Kexi embedded SQL engine
Comment[sr]=SQLite је подразумевани SQL мотор за Kexi
X-KDE-Library=kphotoalbum_kexidb_sqlitedriver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=SQLite
X-Kexi-DriverType=File
X-Kexi-FileDBDriverMime=application/x-kexiproject-sqlite
