BODY { background-color: 97d0e6 !important; color: black; }
table.thumbnail-table { width: 100%; background-color: #5a91bd; }
td.thumbnail-col { text-align: center; vertical-align: middle; border: 1px solid white; }
h1.titleh1 { text-align: center; color: black; }
