<!--
SPDX-FileCopyrightText: 2009-2010 Miika Turkia <miika.turkia@gmail.com>
SPDX-FileCopyrightText: 2012 Steffen Jost <steffenjost@web.de>

SPDX-License-Identifier: LGPL-3.0-or-later OR LicenseRef-KDE-Accepted-LGPL
-->

body {
	font: 100% Monotype Corsiva, Arial, sans-serif, Helvetica;
	color: white;
	background: rgb(33,7,0);
}

img {
	border: none;
}

h1 { text-align: center }
h1.title {
        text-align: center;
        width:100%;
        background-color: #202020;
        color:white;
        margin-left: 0em;
        left: auto;
        right: 0em;
}

div.banner {
  margin: 0;
  font-size: 80% /* smaller */;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 10.5em;
  right: auto;
  background: none;
  border: 1pt #CCC solid;
}
body>div.banner {position: fixed}

div.banner p {
  margin: 0;
  padding: 0.3em 0.4em;
  font-family: Arial, sans-serif;
  border: thin outset #CDC;
}

div.banner a:first-child { border-top: none }
div.banner a { border-top: 2px groove #AAA }
div.banner a { display: block; margin: 0 0.5em }

div.banner em:first-child { border-top: 1pt #CCC solid }
div.banner em { border-top: 2px groove #AAA }
div.banner em { display: block; margin: 0 0em }
div.banner em { background: none; border: 1pt #CCC solid }
#div.banner em { background: none; border: medium outset #CCC }
div.banner em { color: #CFC }

div.banner a:link { text-decoration: none; background: none; color: #CCC }
div.banner a:visited { text-decoration: none; background: none; color: #AAA }
div.banner a:hover { background: black; color: white }

div.help {
  font-size: 100%;
  text-align: right;
  position: absolute;
  font-family: Courier, Arial, sans-serif;
  top: .7em;
  right: auto;
  left: 1em;
  background: none;
}
body>div.help { position: fixed }
div.help:hover {
  background: none;
  color: white;
  font-weight: bold;
}
div.help span { display: none }
div.help:hover span {
  display: block;
  width: 50%;
  text-align: left;
  background-color:#202020;
  padding: 5px;
}


div.resolution {
  font-size: 100%;
  text-align: right;
  position: absolute;
  font-family: Courier, Arial, sans-serif;
  top: .7em;
  right: auto;
  left: 2em;
  background: none;
}


div.resolution a:link,.navbar a:link {
        color: white;
        text-decoration: underline;
}

div.resolution a:visited,.navbar a:visited {
        color: white;
        text-decoration: underline;
}

div.resolution .selected {
        text-decoration: none;
        font-weight:bold;
}


div.navigator {
  font-size: 90%;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  position: absolute;
  font-family: Courier, Arial, sans-serif;
  top: .7em;
  left: 45%;
  right: auto;
  background: none;
  border: 1pt #CCC solid;
  padding: 2pt;
}
body>div.navigator { position: fixed }

span.nomore {
  margin: 2px;
}

div.navigator a { margin: 2px }
div.navigator a:link { text-decoration: none; background: none; color: #CCC }
div.navigator a:visited { text-decoration: none; background: none; color: #999 }
div.navigator a:hover { background: none; color: white}


div.copyright {
  font-size: 100%;
  text-align: right;
  position: absolute;
  top: .7em;
  right: 1em;
  left: auto;
  background: none;
}
body>div.copyright { position: fixed }

table.viewpic { margin: 0; width: 100% }
td.pad { width: 5%; margin: 0 }

div.pic {
  float: none;
  border: 0pt #EEE solid;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0em;
  text-align: center;
}

p.caption {
  font-style: normal;
  font-size: 140% /* bigger */;
  text-align: center;
  text-indent: 0;
}

p.exif {
  font-style: normal;
  text-align: left;
  font: 70% Arial, sans-serif, Helvetica;
  color: #CBA;
  background: none;
  border-style: solid;
  border-width: 1pt;
  padding: 5pt;
  position: absolute;
  left: 2em;
  right: auto;
  top: auto;
  width: 15em;
}

div.error {
  font: 100% Arial, sans-serif, Helvetica;
}

div.error h1 { text-align: left }

table.thumbnail-table,table.image-table {
        width: 100%;
        color: white;
        text-align:center;
}

td.thumbnail-col,td.image {
        height:150px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid black;
        background-color:#202020
}


table.controlinfo,table.description,td.navbar {
        width:100%;
        background-color: #202020;
        color:white;
        border: 1px solid black;
        margin-left: 0em;
        left: auto;
        right: 0em;
}

.controlinfo a:link,.navbar a:link {
        color: white;
        text-decoration: underline;
}

.controlinfo a:visited,.navbar a:visited {
        color: white;
        text-decoration: underline;
}

.controlinfo .selected {
        text-decoration: none;
        font-weight:bold;
}

.description a:link,.navbar a:link {
        color: white;
        text-decoration: underline;
}

.description a:visited,.navbar a:visited {
        color: white;
        text-decoration: underline;
}

.description .selected {
        text-decoration: none;
        font-weight:bold;
}

a:link {
        color: red;
        text-decoration: underline;
}

a:visited {
        color: grey;
        text-decoration: underline;
}


table {
        width: 99%;      
        align: center;
        text-align:left;
        vertical-align: middle;
}

td {
        text-align: left;
        vertical-align: top;
        padding-left: 3%;
        padding-right: 3%
}

